# project files
config.php
assets/audio/*

# composer
vendor/

# Generic OS files to ignore

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

# Folder config file
[Dd]esktop.ini
