version: "3.9"

services:
  nginx:
    image: nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./assets/audio:/var/www/html/assets/audio
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
    depends_on:
      - php-fpm

  php-fpm:
    image: php:8-fpm
    volumes:
      - ./:/var/www/html
    restart: always

  composer:
    image: composer
    volumes:
      - ./:/app/
    command: install
