<?php
// Rename this file to `config.php` and edit the values below to have them take effect.

// Set to true to save the generated audio file locally
// could be useful as Polly Streamlabs links expire after just 5 minutes
define('SAVE_LOCALLY', true);

// Directory to save locally saved audio files (relative)
// NOTE: you will need to create this and ensure it has write permissions
define('AUDIO_DIR', 'assets/audio/');

// Hours to keep files for (whenever a new file is saved files older than this will be removed)
define('HOURS_TO_KEEP', 24);

// Save a textual transcription of the audio too? Likely only of use for debugging purposes
// NOTE: This will save a .txt file containing the user's text input in addition to the .mp3 of the audio that was generated.
//       Filenames will be identical other than extension
define('SAVE_TXT', false);

// TikTok Session ID
// NOTE: These seem to expire randomly after an arbritrary amount of time. You'll need to update this every time it expires until a better solution is found.
// To do this you will need to:
// 1. Login to TikTok in your web browser
// 2. Look for a cookie named "sessionid" - you may wish to use the Cookie Editor extension (https://cookie-editor.cgagnier.ca) for your browser to do this.
// 3. Copy and paste the value below
define('TIKTOK_SID', 'ReplaceThisWithARealSID');
