.textarea {
    min-height: 100px;
}
.no-hover, .no-hover:hover {
    color: #4a4a4a !important;
    border-color: #dbdbdb !important;
    z-index: 0 !important;
}
@media (max-width: 767.999px) {
    .button-voice {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .button-voice {
        width: 45%;
    }
}