.toggle-style {
    cursor: pointer;
}
.textarea {
    min-height: 150px;
}
.voice-flag {
    font-size: 24px;
    line-height: 0;
}
.voice-sex {
    width: 16px;
}
.button-heading {
    cursor: default !important;
    border: 0 !important;
    justify-content: left !important;
}
.button-voice {
    font-size: 0.9rem;
    justify-content: space-between !important;
}
@media (max-width: 639.98px) {
    .button-voice {
        width: 100%;
    }
}
@media (min-width: 640px) and (max-width: 1023.98px) {
    .button-voice {
        width: 290px;
    }
}
@media (min-width: 1024px) {
    .button-voice {
        width: 300px;
    }
    .textarea {
        min-height: 190px;
    }
}
@media (min-width: 1280px) and (max-width: 1407px) {
    .column-voices {
        flex: none;
        width: 60% !important;
    }
}

/* LIGHT MODE SPECIFICS */
.mode-light .no-hover, .mode-light .no-hover:hover {
    color: #4a4a4a !important;
    background-color: hsl(0, 0%, 96%) !important;
    border-color: #dbdbdb !important;
    z-index: 0 !important;
    cursor: default;
}
.mode-light .tabs.is-toggle li.is-active a {
    background-color: hsl(141, 71%, 48%);
    border-color: hsl(141, 71%, 48%);
}

/* DARK MODE SPECIFICS */
.mode-dark .no-hover, .mode-dark .no-hover:hover {
    color: #eee !important;
    background-color: hsl(0, 0%, 21%) !important;
    border-color: #444444 !important;
    z-index: 0 !important;
    cursor: default;
}
.mode-dark a {
    color: #dc6805;
}
.mode-dark a:hover {
    color: #ff8b25;
}
.mode-dark .footer {
    background-color: hsl(0, 0%, 7%);
}
.mode-dark .title {
    color: hsl(0, 0%, 96%);
}
.mode-dark .subtitle {
    color: hsl(0, 0%, 90%);
}
.mode-dark .box {
    background-color: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 96%);
}
.mode-dark .is-success {
    background-color: #dc6805;
}
.mode-dark .is-success:active, .mode-dark .is-success:hover {
    background-color: #ff7500;
}
.mode-dark .is-success:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(209, 119, 35, 0.25);
}
.mode-dark hr {
    background-color: hsl(0, 0%, 28%);
}
.mode-dark .tabs a, .mode-dark .tabs.is-toggle a {
    color: #eee;
    border-color: #444444;
}
.mode-dark .tabs.is-toggle a:hover {
    background-color: hsl(0, 0%, 21%);
}
.mode-dark .tabs.is-toggle li.is-active a {
    background-color: #dc6805;
    border-color: #dc6805;
}
.mode-dark .textarea, .mode-dark .select select {
    background-color: hsl(0, 0%, 28%);
    border-color: hsl(0, 0%, 42%);
    color: hsl(0, 0%, 96%);
}
.mode-dark .textarea::placeholder {
    color: hsl(0, 0%, 49%);
}
.mode-dark .textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: hsl(0, 0%, 49%);
}
.mode-dark .textarea::-moz-placeholder { /* Firefox 19+ */
    color: hsl(0, 0%, 49%);
}
.mode-dark .textarea:-ms-input-placeholder { /* IE 10+ */
    color: hsl(0, 0%, 49%);
}
.mode-dark .textarea:-moz-placeholder { /* Firefox 18- */
    color: hsl(0, 0%, 49%);
}
.mode-dark .textarea.dialogue {
    min-height: 100px !important;
}
.mode-dark .label {
    color: #eee;
}